<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bypass_init() hook (in hooks/bypass.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bypass-id-<%%VALUE(id)%%>" class="bypass-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="bypass-invoice_no-<%%VALUE(id)%%>" class="bypass-invoice_no"><%%SELECT%%><%%VALUE(invoice_no)%%><%%ENDSELECT%%></td>
		<td id="bypass-amount-<%%VALUE(id)%%>" class="bypass-amount"><%%SELECT%%><%%VALUE(amount)%%><%%ENDSELECT%%></td>
		<td id="bypass-master_status-<%%VALUE(id)%%>" class="bypass-master_status"><%%SELECT%%><%%VALUE(master_status)%%><%%ENDSELECT%%></td>
		<td id="bypass-regular_status-<%%VALUE(id)%%>" class="bypass-regular_status"><%%SELECT%%><%%VALUE(regular_status)%%><%%ENDSELECT%%></td>
		<td id="bypass-track-<%%VALUE(id)%%>" class="bypass-track"><%%SELECT%%><%%VALUE(track)%%><%%ENDSELECT%%></td>
		<td id="bypass-note-<%%VALUE(id)%%>" class="bypass-note"><%%SELECT%%><%%VALUE(note)%%><%%ENDSELECT%%></td>
		<td id="bypass-timestamp-<%%VALUE(id)%%>" class="bypass-timestamp"><%%SELECT%%><%%VALUE(timestamp)%%><%%ENDSELECT%%></td>
		<td id="bypass-client-<%%VALUE(id)%%>" class="bypass-client"><%%SELECT%%><%%VALUE(client)%%><%%ENDSELECT%%></td>
		<td id="bypass-ref-<%%VALUE(id)%%>" class="bypass-ref"><%%SELECT%%><%%VALUE(ref)%%><%%ENDSELECT%%></td>
		<td id="bypass-route-<%%VALUE(id)%%>" class="bypass-route"><%%SELECT%%><%%VALUE(route)%%><%%ENDSELECT%%></td>
