<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the token_init() hook (in hooks/token.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="token-id-<%%VALUE(id)%%>" class="token-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="token-name-<%%VALUE(id)%%>" class="token-name"><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></td>
		<td id="token-cid-<%%VALUE(id)%%>" class="token-cid"><%%SELECT%%><%%VALUE(cid)%%><%%ENDSELECT%%></td>
		<td id="token-token-<%%VALUE(id)%%>" class="token-token"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="token-timestamp-<%%VALUE(id)%%>" class="token-timestamp"><%%SELECT%%><%%VALUE(timestamp)%%><%%ENDSELECT%%></td>
